<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        {{!-- First row...... --}}
        <div class="row">
            <div class="col-md-6 mt-5 ">
                <a href="/compair">
                    <div class="mt-5 p-4">

                        <div class="card bg-dark text-white" id="img"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img img-fluid" src="/images/tv1.jpg"
                                style="height: 20em; border-radius: 10px;" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mt-5">
                <a href="/compair">
                    <div class="mt-5 p-4">
                        <div class="card bg-dark text-white"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img" src="/images/AC.jpg" style="height: 20em; border-radius: 10px;"
                                alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{!-- Second row.......... --}}
        <div class="row">
            <div class="col-md-4">
                <a href="/compair">
                    <div class="mt-5 p-4">
                        <div class="card bg-dark text-white"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img img-fluid" src="/images/wm.webp"
                                style="height: 20em; border-radius: 10px;" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/compair">
                    <div class="mt-5 p-4">
                        <div class="card bg-dark text-white"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img img-fluid" src="/images/fidge.jpeg"
                                style="height: 20em; border-radius: 10px;" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/compair">
                    <div class="mt-5 p-4">
                        <div class="card bg-dark text-white"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img img-fluid" src="/images/oven.jpg"
                                style="height: 20em; border-radius: 10px;" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{!-- Third row.... --}}
        <div class="row">
            <div class="col-md-3">
                <a href="/compair">
                    <div class="mt-5 p-4">
                        <div class="card bg-dark text-white"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img img-fluid" src="/images/water.png"
                                style="height: 20em; border-radius: 10px;" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/compair">
                    <div class="mt-5 p-4">
                        <div class="card bg-dark text-white"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img img-fluid" src="/images/tv1.jpg"
                                style="height: 20em; border-radius: 10px;" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/compair">
                    <div class="mt-5 p-4">
                        <div class="card bg-dark text-white"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img img-fluid" src="/images/tv1.jpg"
                                style="height: 20em; border-radius: 10px;" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/compair">
                    <div class="mt-5 p-4">
                        <div class="card bg-dark text-white"
                            style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                            <img class="card-img img-fluid" src="/images/tv1.jpg"
                                style="height: 20em; border-radius: 10px;" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>