<div class="background-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pt-5 mt-5">
                    <h1 class="text-center mt-5 text-dark" style="text-shadow:2px 2px #FF0000;"><b>Here You Can Check,
                            Evaluvate And Purchase Any prodects...</b></h1>
                </div>
                <div>
                    <h2 class="text-center mt-5 text-dark">
                        <b>
                            <i>
                                <b>A</b> comparison shopping website, sometimes called a price comparison website, price
                                analysis tool, comparison shopping
                                agent, shopbot, aggregator or comparison shopping engine, is a vertical search engine
                                that shoppers use to filter and
                                compare products based on price, features, reviews and other criteria. Most comparison
                                shopping sites aggregate product
                                listings from many different retailers but do not directly sell products themselves,
                                instead earning money from
                                affiliate marketing agreements...
                            </i>
                        </b>
                    </h2>
                </div>
                <div class="text-center pt-5">
                    <div class="mt-5">
                        <a href="/intro" class="btn btn-outline-warning  mt-5 text-danger" style="width: 60%;"><b>Get
                                Started
                                &#8608;</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .background-image {
        background-image: url('/images/userintro.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }
</style>